<h2>Weather for: {{weatherData.city.name}}, {{weatherData.city.country}}</h2>
<ul>
	<li ng-repeat="day in weatherData.list">
		{{day.weather[0].description}} with a temperature of {{day.temp.day}}
	</li>
</ul>
